# Maven
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Environment
.env
*.env

# IDE config
.vscode/

# Database config (si tienes alguno que no quieres subir)
*.db
